@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    background-color: #F7F6F4;
}

#root {
    background-color: #F7F6F4;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
    height: 100%
}